html,
body {
  height: 100vh;
}
body {
  margin: 0;
  background-image: radial-gradient(30% 50%, #555 6%, #333 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}

.knob {
  display: flex;
  position: relative;
}
.knob.outer {
  border-radius: 50%;
  border: 1px solid #222;
  border-bottom: 5px solid #222;
  background-image: radial-gradient(100% 70%, #666 6%, #333 90%);
  box-shadow: 0 5px 15px 2px black, 0 0 5px 3px black, 0 0 0 12px #444;
}
.knob.inner {
  border-radius: 50%;
}
.knob.inner .grip {
  position: absolute;
  width: 5%;
  height: 40%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  box-shadow: 0 0 3px 1px black;
}
.filter {
  display: flex;
  flex-direction: row;
}

.knob-value {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: white;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.knob-value-inner {
  margin: 0 auto; /* Center the tick mark */
  width: 4px;
  height: 40%;
  background: rgb(0, 0, 0);
}

.control-group {
  display: inline-block;
  position: relative;
  height: 75px;
  width: 75px;
  margin: auto;
  align-content: center;
  vertical-align: top;
  padding-bottom: 10px;
}

.panel-section {
  border-right: 1px solid black;
}

.panel-section:last-child {
  border: none;
}

.panel-controls {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0;
  margin-top: 2em;
}
