:root {
  --control-value-background: #2e3031;
  --control-value-background-hover: #535557;
  --control-value-background-active: #adadad;
  --value-color: #f6f5f3;
  background: #535557;
}

.section-nav {
  font-size: 1em;
  padding: 1em 0;
  text-align: center;
}
.App {
  background: #535557;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.knob-value {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: rgb(46 48 49);
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.knob-value-inner {
  margin: 0 auto; /* Center the tick mark */
  width: 4px;
  height: 40%;
  background: rgb(255, 255, 255);
}

.control-group {
  display: inline-block;
  position: relative;
  height: 75px;
  width: 75px;
  margin: auto;
  align-content: center;
  vertical-align: top;
  padding-bottom: 10px;
}

.control-group-half-width {
  width: 37px;
}

.panel-section {
  border-left: 1px solid black;
}

.panel-section:first-child {
  border: none;
}

.panel-controls {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0;
  margin-top: 2em;
}

.panel {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  margin: 1em auto;
  padding: 1em 3em;
  background-color: #dfdbdd;
  width: 880px;
  border-radius: 15px;
}

.panel-group-label {
  padding: 0;
  margin: 0;
  top: -1em;
  left: 0;
  width: 100%;
}

.switch-label-wrapper {
  height: 56px;
  display: inline-block;
  width: 10px;
}

.switch-labels {
  display: table;
  overflow: visible;
  margin: 0;
  margin-left: 3px;
  padding: 0;
  height: 100%;
  text-align: left;
  font-size: 8px;
}

.switch-label {
  display: table-row;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 10px;
}
.switch-value-label {
  display: table-cell;
  vertical-align: middle;
}

.led-array {
  display: table;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 65px;
  top: 0;
  height: 60px;
}

.led-array-value {
  display: table-row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.led-array-light {
  cursor: pointer;
  display: inline-block;
  height: 12px;
  width: 12px;
  background: var(--control-value-background);
  border-radius: 6px;
}

.led-array-light-active {
  background: #d03445;
  height: 10px;
  width: 10px;
  border: 1px solid #644;
}

#keyboard-octave-leds {
  position: absolute;
}

#keyboard-octave-leds .led-array {
  display: flex;
  position: relative;
  left: 3px;
  justify-content: space-between;
  height: 12px;
  width: 72px;
}

.knob-container {
  margin: 9px 0;
}

.control-label {
  padding: 0;
  margin: 0;
  width: 100%;
}

/**
 * Layout
 */

#master {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}

#vco1 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

#vco2 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

#mixer {
  grid-column: 5 / span 1;
  grid-row: 1 / span 2;
}
#filter {
  grid-column: 6 / span 1;
  grid-row: 1 / span 2;
}

#eglfo {
  grid-column: 7 / span 5;
  grid-row: 1 / span 2;
}

.knob-glow {
  animation-duration: 3s;
  animation-name: glow;
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 20px 20px #00000082;
  }

  to {
    box-shadow: 0px 0px 20px 20px #ffffff82;
  }
}
