$black: #242424;

@mixin flex-spacing {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.patches {
  .menu-button_container {
    @include flex-spacing;
    flex-direction: row;
    margin: 1em auto;

    .menu-button {
      letter-spacing: 1.5px;
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

.category-button_container {
  .category-button {
    width: 90%;
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
    cursor: pointer;
    .category-button_title {
      @include flex-spacing;
    }
  }
}

.patch-button_container {
  display: flex;
  flex-wrap: wrap;
  max-height: 240px;
  overflow: scroll;
  margin-top: 8px;

  .patch-button {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 6px;
    margin: 3px 2px;
    width: 32%;
    background-color: blue;
    color: white;
    cursor: pointer;
  }
}
